{
  "openapi": "3.1.0",
  "info": {
    "title": "DollarPe API",
    "description": "API for DollarPe - Customer, Payout, and Webhook services",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://sandbox.dollarpe.xyz/pos/api/v1",
      "description": "Payout API Base URL",
      "variables": {
        "base_url": {
          "default": "https://sandbox.dollarpe.xyz"
        }
      }
    },
    {
      "url": "https://sandbox.dollarpe.xyz/cms/api/v1",
      "description": "Customer API Base URL",
      "variables": {
        "base_url": {
          "default": "https://sandbox.dollarpe.xyz"
        }
      }
    }
  ],
  "security": [
    {
      "ApiKeyAuth": [],
      "TimestampAuth": [],
      "SignatureAuth": []
    }
  ],
  "paths": {
    "/payout/fetch-rate": {
      "post": {
        "tags": [
          "Payout"
        ],
        "x-title": "Fetch Rate",
        "description": "Fetch exchange rate for a given asset and network combination",
        "servers": [
          {
            "url": "https://sandbox.dollarpe.xyz/pos/api/v1",
            "description": "Payout API Base URL"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "asset",
                  "network",
                  "amount"
                ],
                "properties": {
                  "asset": {
                    "type": "string",
                    "description": "The cryptocurrency asset code",
                    "example": "USDT"
                  },
                  "network": {
                    "type": "string",
                    "description": "The blockchain network",
                    "example": "BSC"
                  },
                  "amount": {
                    "type": "number",
                    "format": "decimal",
                    "description": "The amount to convert",
                    "example": 100.5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "asset": {
                          "type": "string",
                          "example": "USDT"
                        },
                        "network": {
                          "type": "string",
                          "example": "BSC"
                        },
                        "fiat": {
                          "type": "string",
                          "example": "INR"
                        },
                        "rate": {
                          "type": "number",
                          "format": "decimal",
                          "example": 87.2
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "data": {
                      "type": "null"
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "example": {
                        "asset": [
                          "This field is required."
                        ],
                        "amount": [
                          "This field is required."
                        ],
                        "network": [
                          "This field is required."
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "data": {
                      "type": "null"
                    },
                    "errors": {
                      "type": "string",
                      "example": "Unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payout/quotation": {
      "post": {
        "tags": [
          "Payout"
        ],
        "x-title": "Create Quotation",
        "description": "Create a quotation for cryptocurrency to fiat conversion",
        "servers": [
          {
            "url": "https://sandbox.dollarpe.xyz/pos/api/v1",
            "description": "Payout API Base URL"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "asset",
                  "fiat",
                  "network",
                  "sending_amount",
                  "customer_id"
                ],
                "properties": {
                  "asset": {
                    "type": "string",
                    "description": "The cryptocurrency asset code",
                    "example": "usdt"
                  },
                  "fiat": {
                    "type": "string",
                    "description": "The fiat currency code",
                    "example": "inr"
                  },
                  "network": {
                    "type": "string",
                    "description": "The blockchain network",
                    "example": "bsc"
                  },
                  "sending_amount": {
                    "type": "string",
                    "description": "The amount to be sent",
                    "example": "51"
                  },
                  "customer_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Customer's unique identifier",
                    "example": "def8b740-99f9-4cba-bc9e-99de57e927b4"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quotation created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "2e104290-07c8-49f1-a5ca-0d27f0078f8a"
                        },
                        "asset": {
                          "type": "string",
                          "example": "USDT"
                        },
                        "network": {
                          "type": "string",
                          "example": "BSC"
                        },
                        "fiat": {
                          "type": "string",
                          "example": "INR"
                        },
                        "sending_amount": {
                          "type": "number",
                          "format": "float",
                          "example": 51
                        },
                        "rate": {
                          "type": "number",
                          "format": "float",
                          "example": 82.5
                        },
                        "receiving_amount": {
                          "type": "number",
                          "format": "float",
                          "example": 4144.6
                        },
                        "fees": {
                          "type": "object",
                          "properties": {
                            "dollarpe_fees": {
                              "type": "number",
                              "format": "float",
                              "example": 21.04
                            },
                            "tds_fees": {
                              "type": "number",
                              "format": "float",
                              "example": 41.86
                            }
                          }
                        },
                        "wallet_address": {
                          "type": "string",
                          "example": "0x2EAf174Bf1CD624eD63e3C8c74Dd66B66e5cb273"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-03-08T07:31:11.163005Z"
                        },
                        "expiry_time": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-03-08T07:36:11.163005Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "data": {
                      "type": "null"
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "example": {
                        "amount": [
                          "receiving_amount is required"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "data": {
                      "type": "null"
                    },
                    "errors": {
                      "type": "string",
                      "example": "Unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payout/quotation/{quotation_id}": {
      "get": {
        "tags": [
          "Payout"
        ],
        "x-title": "Fetch Quotation",
        "description": "Fetch details of a specific quotation",
        "servers": [
          {
            "url": "https://sandbox.dollarpe.xyz/pos/api/v1",
            "description": "Payout API Base URL"
          }
        ],
        "parameters": [
          {
            "name": "quotation_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the quotation",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "f8a38fe3-4df7-4ec7-9764-c670839afc7a"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quotation details fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "b569d6f9-94c4-4ed3-8a8a-9cfb0aeb7e05"
                        },
                        "quotation_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "f8a38fe3-4df7-4ec7-9764-c670839afc7a"
                        },
                        "customer_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "d04e1a29-e360-499b-a02f-93ce6cea1d01"
                        },
                        "status": {
                          "type": "string",
                          "example": "PROCESSING"
                        },
                        "client_reference_id": {
                          "type": "string",
                          "example": "testing123"
                        },
                        "bank_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "c7ca3d66-b21d-4372-805c-c1a3fd0a60a9"
                        },
                        "asset": {
                          "type": "string",
                          "example": "USDT"
                        },
                        "network": {
                          "type": "string",
                          "example": "BSC"
                        },
                        "fiat": {
                          "type": "string",
                          "example": "INR"
                        },
                        "sending_amount": {
                          "type": "number",
                          "example": 10
                        },
                        "rate": {
                          "type": "number",
                          "example": 87.2
                        },
                        "receiving_amount": {
                          "type": "number",
                          "example": 846.19
                        },
                        "fees": {
                          "type": "object",
                          "properties": {
                            "tds_fee": {
                              "type": "number",
                              "example": 8.67
                            },
                            "dollarpe_fee": {
                              "type": "number",
                              "example": 12.721252606222546
                            }
                          }
                        },
                        "transaction_hash": {
                          "type": "string",
                          "example": "0x51e5419ae04caafbf8b2a8627ed94a81086d81b45f9314fbe332239961012475"
                        },
                        "wallet_address": {
                          "type": "string",
                          "nullable": true,
                          "example": null
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-03-04T15:54:20+00:00"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-03-04T15:59:20+00:00"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "quotation_id": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "quotation_id is invalid"
                          ]
                        }
                      }
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "errors": {
                      "type": "string",
                      "example": "Unexpected error occurred. Please try again later."
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payout/initiate": {
      "post": {
        "tags": [
          "Payout"
        ],
        "x-title": "Create Payout",
        "description": "Create a new payout using a quotation",
        "servers": [
          {
            "url": "https://sandbox.dollarpe.xyz/pos/api/v1",
            "description": "Payout API Base URL"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "quotation_id",
                  "customer_id",
                  "bank_id",
                  "transaction_hash"
                ],
                "properties": {
                  "quotation_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The unique identifier of the quotation",
                    "example": "2e104290-07c8-49f1-a5ca-0d27f0078f8a"
                  },
                  "customer_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The unique identifier of the customer",
                    "example": "def8b740-99f9-4cba-bc9e-99de57e927b4"
                  },
                  "client_reference_id": {
                    "type": "string",
                    "description": "Optional client reference ID for tracking",
                    "example": "testUser123"
                  },
                  "bank_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The unique identifier of the bank account",
                    "example": "e75f62f0-db9e-4904-8103-d6f14f67f5dc"
                  },
                  "transaction_hash": {
                    "type": "string",
                    "description": "The blockchain transaction hash",
                    "example": "0x9b34a0e4897cd834847d8bbb8814eba72149f914785c406884d14f8108bc"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payout created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "5b75096f-de8d-44b4-9230-d94e6948abb6"
                        },
                        "quotation_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "2e104290-07c8-49f1-a5ca-0d27f0078f8a"
                        },
                        "customer_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "def8b740-99f9-4cba-bc9e-99de57e927b4"
                        },
                        "client_reference_id": {
                          "type": "string",
                          "example": "testUser123"
                        },
                        "bank_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "e75f62f0-db9e-4904-8103-d6f14f67f5dc"
                        },
                        "asset": {
                          "type": "string",
                          "example": "USDT"
                        },
                        "network": {
                          "type": "string",
                          "example": "BSC"
                        },
                        "fiat": {
                          "type": "string",
                          "example": "INR"
                        },
                        "rate": {
                          "type": "number",
                          "format": "float",
                          "example": 82.5
                        },
                        "sending_amount": {
                          "type": "number",
                          "format": "float",
                          "example": 51
                        },
                        "receiving_amount": {
                          "type": "number",
                          "format": "float",
                          "example": 4144.6
                        },
                        "fees": {
                          "type": "object",
                          "properties": {
                            "dollarpe_fees": {
                              "type": "number",
                              "format": "float",
                              "example": 21.04
                            },
                            "tds_fees": {
                              "type": "number",
                              "format": "float",
                              "example": 41.86
                            }
                          }
                        },
                        "memo": {
                          "type": "string",
                          "example": "123456"
                        },
                        "wallet_address": {
                          "type": "string",
                          "example": "0x2EAf174Bf1CD624eD63e3C8c74Dd66B66e5cb273"
                        },
                        "transaction_hash": {
                          "type": "string",
                          "example": "0x9b34a0e4897cd834847d8bbb8814eba72149f914785c406884d14f8108bc"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-03-08T07:31:24.770179Z"
                        },
                        "status": {
                          "type": "string",
                          "example": "PROCESSING"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "transaction_hash": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "transaction_hash is required"
                          ]
                        }
                      }
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "errors": {
                      "type": "string",
                      "example": "Unexpected error occurred. Please try again later."
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payout/{payout_id}": {
      "get": {
        "tags": [
          "Payout"
        ],
        "x-title": "Fetch Payout",
        "description": "Fetch details of a specific payout",
        "servers": [
          {
            "url": "https://sandbox.dollarpe.xyz/pos/api/v1",
            "description": "Payout API Base URL"
          }
        ],
        "parameters": [
          {
            "name": "payout_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the payout",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "08441dd3-8cc0-405c-932b-7fdbc8894f66"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payout details fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "08441dd3-8cc0-405c-932b-7fdbc8894f66"
                        },
                        "quotation_d": {
                          "type": "string",
                          "format": "uuid",
                          "example": "08441dd3-8cc0-405c-932b-7fdbc8894f66"
                        },
                        "customer_d": {
                          "type": "string",
                          "format": "uuid",
                          "example": "dfd8db74-2fbb-46d1-9a93-b90f156e13b4"
                        },
                        "status": {
                          "type": "string",
                          "example": "CRYPTO_RECEIVED"
                        },
                        "client_reference_d": {
                          "type": "string",
                          "example": "testUser123"
                        },
                        "bank_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "e75f62f0-db9e-4904-8103-d6f14f67f5dc"
                        },
                        "asset": {
                          "type": "string",
                          "example": "USDT"
                        },
                        "network": {
                          "type": "string",
                          "example": "POLYGON"
                        },
                        "fiat": {
                          "type": "string",
                          "example": "INR"
                        },
                        "sending_amount": {
                          "type": "string",
                          "example": "10"
                        },
                        "rate": {
                          "type": "string",
                          "example": "89.4"
                        },
                        "receiveing_amount": {
                          "type": "string",
                          "example": "870"
                        },
                        "fees": {
                          "type": "object",
                          "properties": {
                            "tds_fees": {
                              "type": "string",
                              "example": ""
                            },
                            "dollarpe_fees": {
                              "type": "string",
                              "example": ""
                            }
                          }
                        },
                        "transaction_hash": {
                          "type": "string",
                          "example": "0x9b34a0e4897cd834847d8bbb8814eba72149f914785c406684d4f809ac"
                        },
                        "wallet_address": {
                          "type": "string",
                          "example": "0x71C7656EC7ab88b098def1B5f6d8976F"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-02-11T01:30:08.000Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-02-11T01:30:08.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payout/history": {
      "get": {
        "tags": [
          "Payout"
        ],
        "x-title": "Fetch Payout History",
        "description": "Fetch paginated list of payouts",
        "servers": [
          {
            "url": "https://sandbox.dollarpe.xyz/pos/api/v1",
            "description": "Payout API Base URL"
          }
        ],
        "parameters": [
          {
            "name": "page_number",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "string",
              "example": "1"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Number of items per page (max 100)",
            "schema": {
              "type": "string",
              "example": "20"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payout history fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "description": "Total count of records",
                          "example": 1
                        },
                        "next": {
                          "type": "string",
                          "nullable": true,
                          "description": "URL for next page",
                          "example": null
                        },
                        "previous": {
                          "type": "string",
                          "nullable": true,
                          "description": "URL for previous page",
                          "example": "<url>"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "example": "08441dd3-8cc0-405c-932b-7fdbc8894f66"
                              },
                              "quotation_id": {
                                "type": "string",
                                "format": "uuid",
                                "example": "08441dd3-8cc0-405c-932b-7fdbc8894f66"
                              },
                              "customer_id": {
                                "type": "string",
                                "format": "uuid",
                                "example": "dfd8db74-2fbb-46d1-9a93-b90f156e13b4"
                              },
                              "status": {
                                "type": "string",
                                "example": "CRYPTO_RECEIVED"
                              },
                              "client_reference_id": {
                                "type": "string",
                                "example": "testUser123"
                              },
                              "bank_id": {
                                "type": "string",
                                "format": "uuid",
                                "example": "e75f62f0-db9e-4904-8103-d6f14f67f5dc"
                              },
                              "asset": {
                                "type": "string",
                                "example": "USDT"
                              },
                              "network": {
                                "type": "string",
                                "example": "POLYGON"
                              },
                              "fiat": {
                                "type": "string",
                                "example": "INR"
                              },
                              "sending_amount": {
                                "type": "string",
                                "example": "10"
                              },
                              "rate": {
                                "type": "string",
                                "example": "89.4"
                              },
                              "receiving_amount": {
                                "type": "string",
                                "example": "870"
                              },
                              "fees": {
                                "type": "object",
                                "properties": {
                                  "tds_fees": {
                                    "type": "number",
                                    "format": "float",
                                    "example": 41.86
                                  },
                                  "dollarpe_fees": {
                                    "type": "number",
                                    "format": "float",
                                    "example": 21.04
                                  }
                                }
                              },
                              "transaction_hash": {
                                "type": "string",
                                "example": "0x9b34a0e4897cd834847d8bbb8814eba72149f914785c406684d4f809ac"
                              },
                              "wallet_address": {
                                "type": "string",
                                "example": "0x71C7656EC7ab88b098def1B5f6d8976F"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2025-02-11T01:30:08.000Z"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2025-02-11T01:30:08.000Z"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "page_size": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "page_size cannot be more than 100"
                          ]
                        }
                      }
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "errors": {
                      "type": "string",
                      "example": "Unexpected error occurred. Please try again later."
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customer/create": {
      "post": {
        "tags": [
          "Customer"
        ],
        "x-title": "Create Customer",
        "description": "Create a new customer",
        "servers": [
          {
            "url": "https://sandbox.dollarpe.xyz/cms/api/v1",
            "description": "Customer API Base URL"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "full_name",
                  "email",
                  "phone",
                  "country",
                  "type"
                ],
                "properties": {
                  "full_name": {
                    "type": "string",
                    "description": "Full name of the customer",
                    "example": "Apoorv Goyal"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address of the customer",
                    "example": "apoorv@dollarpe.com"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Phone number of the customer",
                    "example": "9910402972"
                  },
                  "country": {
                    "type": "string",
                    "description": "Country code",
                    "example": "IND"
                  },
                  "customer_reference_id": {
                    "type": "string",
                    "description": "Optional customer reference ID",
                    "example": "test123"
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of customer",
                    "example": "individual"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "550e8400-e29b-41d4-a716-446655440000"
                        },
                        "customer_reference_id": {
                          "type": "string",
                          "example": "test123"
                        },
                        "full_name": {
                          "type": "string",
                          "example": "John Doe"
                        },
                        "email": {
                          "type": "string",
                          "example": "john.doe@example.com"
                        },
                        "phone": {
                          "type": "string",
                          "example": "+1234567890"
                        },
                        "country": {
                          "type": "string",
                          "example": "USA"
                        },
                        "type": {
                          "type": "string",
                          "example": "INDIVIDUAL"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "example": {
                        "type": [
                          "type is required"
                        ],
                        "email": [
                          "email is required"
                        ]
                      }
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "errors": {
                      "type": "string",
                      "example": "Unexpected error occurred. Please try again later."
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customer/{customer_id}": {
      "get": {
        "tags": [
          "Customer"
        ],
        "x-title": "Fetch Customer",
        "description": "Fetch details of a customer by ID",
        "servers": [
          {
            "url": "https://sandbox.dollarpe.xyz/cms/api/v1",
            "description": "Customer API Base URL"
          }
        ],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the customer",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer details fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "550e8400-e29b-41d4-a716-446655440000"
                        },
                        "status": {
                          "type": "string",
                          "example": "VERIFIED"
                        },
                        "full_name": {
                          "type": "string",
                          "example": "John Doe"
                        },
                        "email": {
                          "type": "string",
                          "example": "john.doe@example.com"
                        },
                        "phone": {
                          "type": "string",
                          "example": "+1234567890"
                        },
                        "country": {
                          "type": "string",
                          "example": "USA"
                        },
                        "customer_reference_id": {
                          "type": "string",
                          "example": "cust_12345"
                        },
                        "type": {
                          "type": "string",
                          "example": "INDIVIDUAL"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "example": {
                        "customer_id": [
                          "customer_id is required"
                        ]
                      }
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "errors": {
                      "type": "string",
                      "example": "Unexpected error occurred. Please try again later."
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customer/list": {
      "get": {
        "tags": [
          "Customer"
        ],
        "x-title": "List Customers",
        "description": "List all customers",
        "servers": [
          {
            "url": "https://sandbox.dollarpe.xyz/cms/api/v1",
            "description": "Customer API Base URL"
          }
        ],
        "responses": {
          "200": {
            "description": "List of customers fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "example": 1
                        },
                        "next": {
                          "type": "string",
                          "nullable": true,
                          "example": null
                        },
                        "previous": {
                          "type": "string",
                          "nullable": true,
                          "example": "<url>"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "example": "550e8400-e29b-41d4-a716-446655440000"
                              },
                              "status": {
                                "type": "string",
                                "example": "VERIFIED"
                              },
                              "full_name": {
                                "type": "string",
                                "example": "John Doe"
                              },
                              "email": {
                                "type": "string",
                                "example": "john.doe@example.com"
                              },
                              "phone": {
                                "type": "string",
                                "example": "+1234567890"
                              },
                              "country": {
                                "type": "string",
                                "example": "USA"
                              },
                              "customer_reference_id": {
                                "type": "string",
                                "example": "cust_12345"
                              },
                              "type": {
                                "type": "string",
                                "example": "INDIVIDUAL"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "errors": {
                      "type": "string",
                      "example": "Unexpected error occurred. Please try again later."
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/kyc/get-kyc-link/{customer_id}": {
      "get": {
        "tags": [
          "KYC"
        ],
        "x-title": "Get KYC Link",
        "description": "Get the KYC verification link for a customer",
        "servers": [
          {
            "url": "https://sandbox.dollarpe.xyz/cms/api/v1",
            "description": "KYC API Base URL"
          }
        ],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "description": "Customer's unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "KYC link fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "550e8400-e29b-41d4-a716-446655440000"
                        },
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "example": "https://kyc.verification.com/customer/550e8400"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "customer_id": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "customer_id is invalid"
                          ]
                        }
                      }
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "errors": {
                      "type": "string",
                      "example": "Unexpected error occurred. Please try again later."
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/kyc/add-kyc-data": {
      "post": {
        "tags": [
          "KYC"
        ],
        "x-title": "Add KYC Data",
        "description": "Add KYC information for a customer",
        "servers": [
          {
            "url": "https://sandbox.dollarpe.xyz/cms/api/v1",
            "description": "KYC API Base URL"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customer_id",
                  "full_name",
                  "phone",
                  "full_address",
                  "dob",
                  "document_type",
                  "document_front_image_url",
                  "document_back_image_url",
                  "document_details"
                ],
                "properties": {
                  "customer_id": {
                    "type": "string",
                    "format": "uuid",
                    "example": "4e6f1b20-a73c-11ec-b909-0242ac120002"
                  },
                  "full_name": {
                    "type": "string",
                    "example": "Apoorv Goyal"
                  },
                  "phone": {
                    "type": "string",
                    "example": "9910402972"
                  },
                  "full_address": {
                    "type": "string",
                    "example": "FULL_ADDRESS_OF_THE_CUSTOMER"
                  },
                  "dob": {
                    "type": "string",
                    "format": "date",
                    "example": "DD-MM-YYYY"
                  },
                  "pan_number": {
                    "type": "string",
                    "example": "CLBPG5935N"
                  },
                  "document_type": {
                    "type": "string",
                    "enum": [
                      "AADHAAR",
                      "PASSPORT"
                    ],
                    "example": "AADHAAR"
                  },
                  "document_front_image_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "document_back_image_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "document_details": {
                    "type": "object",
                    "required": [
                      "document_number"
                    ],
                    "properties": {
                      "document_number": {
                        "type": "string",
                        "example": "123456123456"
                      },
                      "additional_data": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "KYC data added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/kyc/update-tax-info": {
      "post": {
        "tags": [
          "KYC"
        ],
        "x-title": "Update Tax Information",
        "description": "Update customer's tax information",
        "servers": [
          {
            "url": "https://sandbox.dollarpe.xyz/cms/api/v1",
            "description": "KYC API Base URL"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customer_id",
                  "pan_number"
                ],
                "properties": {
                  "customer_id": {
                    "type": "string",
                    "format": "uuid",
                    "example": "4e6f1b20-a73c-11ec-b909-0242ac120002"
                  },
                  "pan_number": {
                    "type": "string",
                    "example": "CLBPG5935N"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tax information updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/kyc/update-document-info": {
      "post": {
        "tags": [
          "KYC"
        ],
        "x-title": "Update Document Information",
        "description": "Update customer's document information",
        "servers": [
          {
            "url": "https://sandbox.dollarpe.xyz/cms/api/v1",
            "description": "KYC API Base URL"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customer_id",
                  "full_address",
                  "document_type",
                  "document_front_image_url",
                  "document_back_image_url",
                  "document_details"
                ],
                "properties": {
                  "customer_id": {
                    "type": "string",
                    "format": "uuid",
                    "example": "4e6f1b20-a73c-11ec-b909-0242ac120002"
                  },
                  "full_address": {
                    "type": "string",
                    "example": "FULL_ADDRESS_OF_THE_CUSTOMER"
                  },
                  "document_type": {
                    "type": "string",
                    "enum": [
                      "AADHAAR",
                      "PASSPORT"
                    ],
                    "example": "AADHAAR"
                  },
                  "document_front_image_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "document_back_image_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "document_details": {
                    "type": "object",
                    "required": [
                      "document_number"
                    ],
                    "properties": {
                      "document_number": {
                        "type": "string",
                        "example": "123456123456"
                      },
                      "additional_data": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document information updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bank/add-account": {
      "post": {
        "tags": [
          "Bank"
        ],
        "x-title": "Add Bank Account",
        "description": "Add a new bank account for a customer.",
        "servers": [
          {
            "url": "https://sandbox.dollarpe.xyz/cms/api/v1",
            "description": "Bank API Base URL"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customer_id"
                ],
                "oneOf": [
                  {
                    "required": [
                      "account_number",
                      "ifsc"
                    ],
                    "properties": {
                      "customer_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Customer's unique identifier",
                        "example": "c2cf861b-342b-4318-a90e-85cd0312e82f"
                      },
                      "account_number": {
                        "type": "string",
                        "description": "Bank account number",
                        "example": "7627389201"
                      },
                      "ifsc": {
                        "type": "string",
                        "description": "IFSC code of the bank",
                        "example": "SBI0001829IU"
                      },
                      "vpa": {
                        "type": "string",
                        "description": "Virtual Payment Address (UPI ID)",
                        "example": ""
                      }
                    }
                  },
                  {
                    "required": [
                      "vpa"
                    ],
                    "properties": {
                      "customer_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Customer's unique identifier",
                        "example": "c2cf861b-342b-4318-a90e-85cd0312e82f"
                      },
                      "vpa": {
                        "type": "string",
                        "description": "Virtual Payment Address (UPI ID)",
                        "example": "johndoe@oksbi"
                      },
                      "account_number": {
                        "type": "string",
                        "description": "Bank account number",
                        "example": ""
                      },
                      "ifsc": {
                        "type": "string",
                        "description": "IFSC code of the bank",
                        "example": ""
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bank account added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "example": "4e6f1b20-a73c-11ec-b909-0242ac120002"
                            },
                            "customer_id": {
                              "type": "string",
                              "format": "uuid",
                              "example": "550e8400-e29b-41d4-a716-446655440000"
                            },
                            "account_number": {
                              "type": "string",
                              "example": "123456789012"
                            },
                            "ifsc_code": {
                              "type": "string",
                              "example": "ABC123456"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "example": "4e6f1b20-a73c-11ec-b909-0242ac120002"
                            },
                            "customer_id": {
                              "type": "string",
                              "format": "uuid",
                              "example": "550e8400-e29b-41d4-a716-446655440000"
                            },
                            "vpa": {
                              "type": "string",
                              "example": "johndoe@oksbi"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "account_number": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "account_number is required"
                          ]
                        }
                      }
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "errors": {
                      "type": "string",
                      "example": "Unexpected error occurred. Please try again later."
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bank/get-bank-accounts/{customer_id}/{bank_id}": {
      "get": {
        "tags": [
          "Bank"
        ],
        "x-title": "Fetch Bank Account",
        "description": "Fetch details of a specific bank account",
        "servers": [
          {
            "url": "https://sandbox.dollarpe.xyz/cms/api/v1",
            "description": "Bank API Base URL"
          }
        ],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "description": "Customer's unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "bank_id",
            "in": "path",
            "required": true,
            "description": "Bank account's unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bank account details fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "4e6f1b20-a73c-11ec-b909-0242ac120002"
                        },
                        "customer_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "550e8400-e29b-41d4-a716-446655440000"
                        },
                        "account_number": {
                          "type": "string",
                          "example": "123456789012"
                        },
                        "ifsc_code": {
                          "type": "string",
                          "example": "ABC123456"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "bank_id": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "bank_id is required"
                          ]
                        }
                      }
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "errors": {
                      "type": "string",
                      "example": "Unexpected error occurred. Please try again later."
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bank/get-bank-accounts/{customer_id}": {
      "get": {
        "tags": [
          "Bank"
        ],
        "x-title": "Fetch Bank Accounts",
        "description": "Fetch all bank accounts for a customer",
        "servers": [
          {
            "url": "https://sandbox.dollarpe.xyz/cms/api/v1",
            "description": "Bank API Base URL"
          }
        ],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "description": "Customer's unique identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bank accounts fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "example": "4e6f1b20-a73c-11ec-b909-0242ac120002"
                          },
                          "customer_id": {
                            "type": "string",
                            "format": "uuid",
                            "example": "550e8400-e29b-41d4-a716-446655440000"
                          },
                          "account_number": {
                            "type": "string",
                            "example": "123456789012"
                          },
                          "ifsc_code": {
                            "type": "string",
                            "example": "ABC123456"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "customer_id": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "customer_id is required"
                          ]
                        }
                      }
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "errors": {
                      "type": "string",
                      "example": "Unexpected error occurred. Please try again later."
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/api-webhooks": {
      "post": {
        "tags": [
          "Webhook"
        ],
        "x-title": "Configure Webhook",
        "description": "Configure the webhook URL for receiving transaction status updates",
        "servers": [
          {
            "url": "https://sandbox.dollarpe.xyz/org/api/v1",
            "description": "Webhook API Base URL"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "webhook_url"
                ],
                "properties": {
                  "webhook_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "The HTTPS URL where webhook events will be sent",
                    "example": "https://your-domain.com/webhook/dollarpe"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook URL configured successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "errors": {
                      "type": "string",
                      "example": "Unexpected error occurred. Please try again later."
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "API Key for authentication"
      },
      "TimestampAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-TIMESTAMP",
        "description": "Current timestamp in seconds since epoch"
      },
      "SignatureAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-SIGNATURE",
        "description": "HMAC SHA256 signature of the request encoded in Base64"
      }
    }
  },
  "tags": [
    {
      "name": "Customer",
      "description": "Customer related operations",
      "x-displayName": "Customer",
      "x-traitTag": true
    },
    {
      "name": "Payout",
      "description": "Payout related operations"
    },
    {
      "name": "Webhooks",
      "description": "Webhook related operations"
    }
  ]
}