{
  "openapi": "3.1.0",
  "info": {
    "title": "DollarPe API",
    "description": "API for DollarPe - Customer, Payout, and Webhook services",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://sandbox.dollarpe.xyz/pos/api/v1",
      "description": "Payout API Base URL",
      "variables": {
        "base_url": {
          "default": "https://sandbox.dollarpe.xyz"
        }
      }
    },
    {
      "url": "https://sandbox.dollarpe.xyz/cms/api/v1",
      "description": "Customer API Base URL",
      "variables": {
        "base_url": {
          "default": "https://sandbox.dollarpe.xyz"
        }
      }
    }
  ],
  "security": [
    {
      "ApiKeyAuth": [],
      "TimestampAuth": [],
      "SignatureAuth": []
    }
  ],
  "paths": {
    "/payout/fetch-rate": {
      "post": {
        "tags": ["Payout"],
        "description": "Fetch exchange rate for a given asset and network combination",
        "servers": [
          {
            "url": "https://sandbox.dollarpe.xyz/pos/api/v1",
            "description": "Payout API Base URL"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["asset", "network", "amount"],
                "properties": {
                  "asset": {
                    "type": "string",
                    "description": "The cryptocurrency asset code",
                    "example": "USDT"
                  },
                  "network": {
                    "type": "string",
                    "description": "The blockchain network",
                    "example": "BSC"
                  },
                  "amount": {
                    "type": "number",
                    "format": "decimal",
                    "description": "The amount to convert",
                    "example": 100.5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "asset": {
                          "type": "string",
                          "example": "USDT"
                        },
                        "network": {
                          "type": "string",
                          "example": "BSC"
                        },
                        "fiat": {
                          "type": "string",
                          "example": "INR"
                        },
                        "rate": {
                          "type": "number",
                          "format": "decimal",
                          "example": 87.2
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "data": {
                      "type": "null"
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "example": {
                        "asset": ["This field is required."],
                        "amount": ["This field is required."],
                        "network": ["This field is required."]
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "data": {
                      "type": "null"
                    },
                    "errors": {
                      "type": "string",
                      "example": "Unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customer/create": {
      "post": {
        "tags": ["Customer"],
        "description": "Create a new customer",
        "servers": [
          {
            "url": "https://sandbox.dollarpe.xyz/cms/api/v1",
            "description": "Customer API Base URL"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["full_name", "email", "phone", "country", "type"],
                "properties": {
                  "full_name": {
                    "type": "string",
                    "description": "Customer's full name",
                    "example": "John Doe"
                  },
                  "email": {
                    "type": "string",
                    "description": "Customer's email address",
                    "example": "john.doe@example.com"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Customer's phone number",
                    "example": "+1234567890"
                  },
                  "country": {
                    "type": "string",
                    "description": "Customer's country code",
                    "example": "IND"
                  },
                  "customer_reference_id": {
                    "type": "string",
                    "description": "Optional unique reference ID for the customer",
                    "example": "test123"
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of customer",
                    "enum": ["individual", "business"],
                    "example": "individual"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "550e8400-e29b-41d4-a716-446655440000"
                        },
                        "customer_reference_id": {
                          "type": "string",
                          "example": "test123"
                        },
                        "full_name": {
                          "type": "string",
                          "example": "John Doe"
                        },
                        "email": {
                          "type": "string",
                          "example": "john.doe@example.com"
                        },
                        "phone": {
                          "type": "string",
                          "example": "+1234567890"
                        },
                        "country": {
                          "type": "string",
                          "example": "USA"
                        },
                        "type": {
                          "type": "string",
                          "example": "INDIVIDUAL"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "data": {
                      "type": "null"
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "example": {
                        "type": ["type is required"],
                        "email": ["email is required"]
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "data": {
                      "type": "null"
                    },
                    "errors": {
                      "type": "string",
                      "example": "Unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "API Key for authentication"
      },
      "TimestampAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-TIMESTAMP",
        "description": "Current timestamp in seconds since epoch"
      },
      "SignatureAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-SIGNATURE",
        "description": "HMAC SHA256 signature of the request encoded in Base64"
      }
    }
  },
  "tags": [
    {
      "name": "Customer",
      "description": "Customer related operations",
      "x-displayName": "Customer",
      "x-traitTag": true
    },
    {
      "name": "Payout",
      "description": "Payout related operations"
    },
    {
      "name": "Webhooks",
      "description": "Webhook related operations"
    }
  ]
}
