{
  "openapi": "3.1.0",
  "info": {
    "title": "DollarPe API",
    "description": "API for DollarPe - Customer, Payout, and Webhook services",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://sandbox.dollarpe.xyz/pos/api/v1",
      "description": "Payout API Base URL",
      "variables": {
        "base_url": {
          "default": "https://sandbox.dollarpe.xyz"
        }
      }
    },
    {
      "url": "https://sandbox.dollarpe.xyz/cms/api/v1",
      "description": "Customer API Base URL",
      "variables": {
        "base_url": {
          "default": "https://sandbox.dollarpe.xyz"
        }
      }
    }
  ],
  "security": [
    {
      "ApiKeyAuth": [],
      "TimestampAuth": [],
      "SignatureAuth": []
    }
  ],
  "paths": {
    "/payout/configuration": {
      "get": {
        "tags": [
          "Payout"
        ],
        "x-title": "Configuration",
        "description": "Returns basic configuration for payout - supported fiats, supported assets, supported networks and live coin limits",
        "servers": [
          {
            "url": "https://sandbox.dollarpe.xyz/pos/api/v1",
            "description": "Payout API Base URL"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "supported_fiats": {
                          "type": "array",
                          "example": [
                            "inr"
                          ]
                        },
                        "supported_assets": {
                          "type": "array",
                          "example": [
                            "usdt",
                            "usdc"
                          ]
                        },
                        "coin_limits": {
                          "type": "object",
                          "properties": {
                            "{fiat}": {
                              "type": "object",
                              "properties": {
                                "{asset}": {
                                  "type": "object",
                                  "properties": {
                                    "bank_transfer": {
                                      "type": "object",
                                      "properties": {
                                        "min": {
                                          "type": "number",
                                          "format": "decimal",
                                          "example": 30
                                        },
                                        "max": {
                                          "type": "number",
                                          "format": "decimal",
                                          "example": 5850
                                        }
                                      }
                                    },
                                    "upi": {
                                      "type": "object",
                                      "properties": {
                                        "min": {
                                          "type": "number",
                                          "format": "decimal",
                                          "example": 30
                                        },
                                        "max": {
                                          "type": "number",
                                          "format": "decimal",
                                          "example": 5850
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "data": {
                      "type": "null"
                    },
                    "errors": {
                      "type": "string",
                      "example": "Unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payout/fetch-rate": {
      "get": {
        "tags": [
          "Payout"
        ],
        "x-title": "Fetch Rate",
        "description": "Fetch exchange rate for a given asset and network combination",
        "servers": [
          {
            "url": "https://sandbox.dollarpe.xyz/pos/api/v1",
            "description": "Payout API Base URL"
          }
        ],
        "parameters": [
          {
            "name": "asset",
            "in": "path",
            "required": true,
            "description": "The crypto asset for which quotation is requested",
            "schema": {
              "type": "string",
              "example": "USDT"
            }
          },
          {
            "name": "fiat",
            "in": "path",
            "required": true,
            "description": "The fiat currency in which the quotation is requested",
            "schema": {
              "type": "string",
              "example": "INR"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "asset": {
                          "type": "string",
                          "example": "USDT"
                        },
                        "fiat": {
                          "type": "string",
                          "example": "INR"
                        },
                        "rate": {
                          "type": "number",
                          "format": "decimal",
                          "example": 87.2
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "data": {
                      "type": "null"
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "example": {
                        "asset": [
                          "This field is required."
                        ],
                        "amount": [
                          "This field is required."
                        ],
                        "network": [
                          "This field is required."
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "data": {
                      "type": "null"
                    },
                    "errors": {
                      "type": "string",
                      "example": "Unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payout/quotation": {
      "post": {
        "tags": [
          "Payout"
        ],
        "x-title": "Create Quotation",
        "description": "Create a quotation for cryptocurrency to fiat conversion",
        "servers": [
          {
            "url": "https://sandbox.dollarpe.xyz/pos/api/v1",
            "description": "Payout API Base URL"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "asset",
                  "fiat",
                  "sending_amount",
                  "customer_id",
                  "bank_id"
                ],
                "properties": {
                  "asset": {
                    "type": "string",
                    "description": "The cryptocurrency asset code",
                    "example": "usdt"
                  },
                  "fiat": {
                    "type": "string",
                    "description": "The fiat currency code",
                    "example": "inr"
                  },
                  "sending_amount": {
                    "type": "string",
                    "description": "The amount to be sent",
                    "example": "51"
                  },
                  "customer_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Customer's unique identifier",
                    "example": "def8b740-99f9-4cba-bc9e-99de57e927b4"
                  },
                  "bank_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Customer's Bank's unique identifier in which the payout will be maid",
                    "example": "4e6f1b20-a73c-11ec-b909-0242ac120002"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quotation created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "2e104290-07c8-49f1-a5ca-0d27f0078f8a"
                        },
                        "customer_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "def8b740-99f9-4cba-bc9e-99de57e927b4"
                        },
                        "bank_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "4e6f1b20-a73c-11ec-b909-0242ac120002"
                        },
                        "asset": {
                          "type": "string",
                          "example": "USDT"
                        },
                        "fiat": {
                          "type": "string",
                          "example": "INR"
                        },
                        "sending_amount": {
                          "type": "number",
                          "format": "float",
                          "example": 51
                        },
                        "rate": {
                          "type": "number",
                          "format": "float",
                          "example": 82.5
                        },
                        "receiving_amount": {
                          "type": "number",
                          "format": "float",
                          "example": 4144.6
                        },
                        "fees": {
                          "type": "object",
                          "properties": {
                            "client_fee_fiat": {
                              "type": "number",
                              "format": "float",
                              "example": 450
                            },
                            "client_fee_crypto": {
                              "type": "number",
                              "format": "float",
                              "example": 5
                            },
                            "dollarpe_fee": {
                              "type": "number",
                              "format": "float",
                              "example": 450
                            },
                            "pg_fee": {
                              "type": "number",
                              "format": "float",
                              "example": 18
                            },
                            "client_gst_fiat": {
                              "type": "number",
                              "format": "float",
                              "example": 81
                            },
                            "client_gst_crypto": {
                              "type": "number",
                              "format": "float",
                              "example": 0.9
                            },
                            "dollarpe_gst": {
                              "type": "number",
                              "format": "float",
                              "example": 81
                            },
                            "pg_gst": {
                              "type": "number",
                              "format": "float",
                              "example": 81
                            },
                            "tds": {
                              "type": "number",
                              "format": "float",
                              "example": 889.17
                            },
                            "gross_effective_exchange_rate": {
                              "type": "number",
                              "format": "float",
                              "example": 88.92
                            }
                          }
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-03-08T07:31:11.163005Z"
                        },
                        "expiry_time": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-03-08T07:36:11.163005Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "data": {
                      "type": "null"
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "example": {
                        "amount": [
                          "receiving_amount is required"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "data": {
                      "type": "null"
                    },
                    "errors": {
                      "type": "string",
                      "example": "Unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payout/quotation/{quotation_id}": {
      "get": {
        "tags": [
          "Payout"
        ],
        "x-title": "Fetch Quotation",
        "description": "Fetch details of a specific quotation",
        "servers": [
          {
            "url": "https://sandbox.dollarpe.xyz/pos/api/v1",
            "description": "Payout API Base URL"
          }
        ],
        "parameters": [
          {
            "name": "quotation_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the quotation",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "2e104290-07c8-49f1-a5ca-0d27f0078f8a"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quotation details fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "2e104290-07c8-49f1-a5ca-0d27f0078f8a"
                        },
                        "order_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "550e8400-e29b-41d4-a716-446655440000"
                        },
                        "customer_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "def8b740-99f9-4cba-bc9e-99de57e927b4"
                        },
                        "bank_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "4e6f1b20-a73c-11ec-b909-0242ac120002"
                        },
                        "status": {
                          "type": "string",
                          "example": "PROCESSING"
                        },
                        "asset": {
                          "type": "string",
                          "example": "USDT"
                        },
                        "fiat": {
                          "type": "string",
                          "example": "INR"
                        },
                        "sending_amount": {
                          "type": "number",
                          "example": 10
                        },
                        "rate": {
                          "type": "number",
                          "example": 87.2
                        },
                        "receiving_amount": {
                          "type": "number",
                          "example": 846.19
                        },
                        "fees": {
                          "type": "object",
                          "properties": {
                            "client_fee_fiat": {
                              "type": "number",
                              "format": "float",
                              "example": 450
                            },
                            "client_fee_crypto": {
                              "type": "number",
                              "format": "float",
                              "example": 5
                            },
                            "dollarpe_fee": {
                              "type": "number",
                              "format": "float",
                              "example": 450
                            },
                            "pg_fee": {
                              "type": "number",
                              "format": "float",
                              "example": 18
                            },
                            "client_gst_fiat": {
                              "type": "number",
                              "format": "float",
                              "example": 81
                            },
                            "client_gst_crypto": {
                              "type": "number",
                              "format": "float",
                              "example": 0.9
                            },
                            "dollarpe_gst": {
                              "type": "number",
                              "format": "float",
                              "example": 81
                            },
                            "pg_gst": {
                              "type": "number",
                              "format": "float",
                              "example": 81
                            },
                            "tds": {
                              "type": "number",
                              "format": "float",
                              "example": 889.17
                            },
                            "gross_effective_exchange_rate": {
                              "type": "number",
                              "format": "float",
                              "example": 88.92
                            }
                          }
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-03-04T15:54:20+00:00"
                        },
                        "expiry_time": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-03-04T15:59:20+00:00"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "quotation_id": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "quotation_id is invalid"
                          ]
                        }
                      }
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "errors": {
                      "type": "string",
                      "example": "Unexpected error occurred. Please try again later."
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payout/initiate": {
      "post": {
        "tags": [
          "Payout"
        ],
        "x-title": "Create Payout",
        "description": "Create a new payout using a quotation",
        "servers": [
          {
            "url": "https://sandbox.dollarpe.xyz/pos/api/v1",
            "description": "Payout API Base URL"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "quotation_id",
                  "customer_id",
                  "exchange_order_id"
                ],
                "properties": {
                  "quotation_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The unique identifier of the quotation",
                    "example": "2e104290-07c8-49f1-a5ca-0d27f0078f8a"
                  },
                  "customer_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The unique identifier of the customer",
                    "example": "def8b740-99f9-4cba-bc9e-99de57e927b4"
                  },
                  "client_reference_id": {
                    "type": "string",
                    "description": "Optional client reference ID for tracking",
                    "example": "testUser123"
                  },
                  "exchange_order_id": {
                    "type": "string",
                    "description": "Order ID on the exchange",
                    "example": "5059889123892"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payout created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "5b75096f-de8d-44b4-9230-d94e6948abb6"
                        },
                        "quotation_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "2e104290-07c8-49f1-a5ca-0d27f0078f8a"
                        },
                        "customer_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "def8b740-99f9-4cba-bc9e-99de57e927b4"
                        },
                        "client_reference_id": {
                          "type": "string",
                          "example": "testUser123"
                        },
                        "bank_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "e75f62f0-db9e-4904-8103-d6f14f67f5dc"
                        },
                        "asset": {
                          "type": "string",
                          "example": "USDT"
                        },
                        "fiat": {
                          "type": "string",
                          "example": "INR"
                        },
                        "rate": {
                          "type": "number",
                          "format": "float",
                          "example": 82.5
                        },
                        "sending_amount": {
                          "type": "number",
                          "format": "float",
                          "example": 51
                        },
                        "receiving_amount": {
                          "type": "number",
                          "format": "float",
                          "example": 4144.6
                        },
                        "fees": {
                          "type": "object",
                          "properties": {
                            "client_fee_fiat": {
                              "type": "number",
                              "format": "float",
                              "example": 450
                            },
                            "client_fee_crypto": {
                              "type": "number",
                              "format": "float",
                              "example": 5
                            },
                            "dollarpe_fee": {
                              "type": "number",
                              "format": "float",
                              "example": 450
                            },
                            "pg_fee": {
                              "type": "number",
                              "format": "float",
                              "example": 18
                            },
                            "client_gst_fiat": {
                              "type": "number",
                              "format": "float",
                              "example": 81
                            },
                            "client_gst_crypto": {
                              "type": "number",
                              "format": "float",
                              "example": 0.9
                            },
                            "dollarpe_gst": {
                              "type": "number",
                              "format": "float",
                              "example": 81
                            },
                            "pg_gst": {
                              "type": "number",
                              "format": "float",
                              "example": 81
                            },
                            "tds": {
                              "type": "number",
                              "format": "float",
                              "example": 889.17
                            },
                            "gross_effective_exchange_rate": {
                              "type": "number",
                              "format": "float",
                              "example": 88.92
                            }
                          }
                        },
                        "exchange_order_id": {
                          "type": "string",
                          "example": "5059889123892"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-03-08T07:31:24.770179Z"
                        },
                        "status": {
                          "type": "string",
                          "example": "PROCESSING"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "transaction_hash": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "transaction_hash is required"
                          ]
                        }
                      }
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "errors": {
                      "type": "string",
                      "example": "Unexpected error occurred. Please try again later."
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payout/{payout_id}": {
      "get": {
        "tags": [
          "Payout"
        ],
        "x-title": "Fetch Payout",
        "description": "Fetch details of a specific payout",
        "servers": [
          {
            "url": "https://sandbox.dollarpe.xyz/pos/api/v1",
            "description": "Payout API Base URL"
          }
        ],
        "parameters": [
          {
            "name": "payout_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the payout",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "08441dd3-8cc0-405c-932b-7fdbc8894f66"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payout details fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "08441dd3-8cc0-405c-932b-7fdbc8894f66"
                        },
                        "quotation_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "08441dd3-8cc0-405c-932b-7fdbc8894f66"
                        },
                        "customer_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "dfd8db74-2fbb-46d1-9a93-b90f156e13b4"
                        },
                        "client_reference_id": {
                          "type": "string",
                          "example": "testUser123"
                        },
                        "bank_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "e75f62f0-db9e-4904-8103-d6f14f67f5dc"
                        },
                        "asset": {
                          "type": "string",
                          "example": "USDT"
                        },
                        "fiat": {
                          "type": "string",
                          "example": "INR"
                        },
                        "sending_amount": {
                          "type": "string",
                          "example": "10"
                        },
                        "rate": {
                          "type": "string",
                          "example": "89.4"
                        },
                        "receiveing_amount": {
                          "type": "string",
                          "example": "870"
                        },
                        "fees": {
                          "type": "object",
                          "properties": {
                            "client_fee_fiat": {
                              "type": "number",
                              "format": "float",
                              "example": 450
                            },
                            "client_fee_crypto": {
                              "type": "number",
                              "format": "float",
                              "example": 5
                            },
                            "dollarpe_fee": {
                              "type": "number",
                              "format": "float",
                              "example": 450
                            },
                            "pg_fee": {
                              "type": "number",
                              "format": "float",
                              "example": 18
                            },
                            "client_gst_fiat": {
                              "type": "number",
                              "format": "float",
                              "example": 81
                            },
                            "client_gst_crypto": {
                              "type": "number",
                              "format": "float",
                              "example": 0.9
                            },
                            "dollarpe_gst": {
                              "type": "number",
                              "format": "float",
                              "example": 81
                            },
                            "pg_gst": {
                              "type": "number",
                              "format": "float",
                              "example": 81
                            },
                            "tds": {
                              "type": "number",
                              "format": "float",
                              "example": 889.17
                            },
                            "gross_effective_exchange_rate": {
                              "type": "number",
                              "format": "float",
                              "example": 88.92
                            }
                          }
                        },
                        "exchange_order_id": {
                          "type": "string",
                          "example": "5059889123892"
                        },
                        "exchange_transfer_id": {
                          "type": "string",
                          "example": ""
                        },
                        "status": {
                          "type": "string",
                          "example": "SUCCESS"
                        },
                        "failure_reason": {
                          "type": "null",
                          "example": null
                        },
                        "utr": {
                          "type": "string",
                          "example": "RATN0329SJDH0"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-02-11T01:30:08.000Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-02-11T01:30:08.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "errors": {
                      "type": "string",
                      "example": "Unexpected error occurred. Please try again later."
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payout/history": {
      "get": {
        "tags": [
          "Payout"
        ],
        "x-title": "Fetch Payout History",
        "description": "Fetch filtered list of payouts",
        "servers": [
          {
            "url": "https://sandbox.dollarpe.xyz/pos/api/v1",
            "description": "Payout API Base URL"
          }
        ],
        "parameters": [
          {
            "name": "payout_status",
            "in": "query",
            "required": false,
            "description": "Filter payouts by status (e.g., SUCCESS, FAILED, PROCESSING)",
            "schema": {
              "type": "string",
              "example": "SUCCESS"
            }
          },
          {
            "name": "customer_id",
            "in": "query",
            "required": false,
            "description": "Filter payouts by customer ID",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "dfd8db74-2fbb-46d1-9a93-b90f156e13b4"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Filter payouts created on or after this date (YYYY-MM-DD). Must be used together with end_date.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2025-01-01"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "Filter payouts created on or before this date (YYYY-MM-DD). Must be used together with start_date.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2025-01-31"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payout history fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "description": "Total count of records",
                          "example": 1
                        },
                        "next": {
                          "type": "string",
                          "nullable": true,
                          "description": "URL for next page",
                          "example": null
                        },
                        "previous": {
                          "type": "string",
                          "nullable": true,
                          "description": "URL for previous page",
                          "example": null
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "example": "08441dd3-8cc0-405c-932b-7fdbc8894f66"
                              },
                              "quotation_id": {
                                "type": "string",
                                "format": "uuid",
                                "example": "08441dd3-8cc0-405c-932b-7fdbc8894f66"
                              },
                              "customer_id": {
                                "type": "string",
                                "format": "uuid",
                                "example": "dfd8db74-2fbb-46d1-9a93-b90f156e13b4"
                              },
                              "client_reference_id": {
                                "type": "string",
                                "example": "testUser123"
                              },
                              "bank_id": {
                                "type": "string",
                                "format": "uuid",
                                "example": "e75f62f0-db9e-4904-8103-d6f14f67f5dc"
                              },
                              "asset": {
                                "type": "string",
                                "example": "USDT"
                              },
                              "fiat": {
                                "type": "string",
                                "example": "INR"
                              },
                              "sending_amount": {
                                "type": "string",
                                "example": "10"
                              },
                              "rate": {
                                "type": "string",
                                "example": "89.4"
                              },
                              "receiveing_amount": {
                                "type": "string",
                                "example": "870"
                              },
                              "fees": {
                                "type": "object",
                                "properties": {
                                  "client_fee_fiat": {
                                    "type": "number",
                                    "format": "float",
                                    "example": 450
                                  },
                                  "client_fee_crypto": {
                                    "type": "number",
                                    "format": "float",
                                    "example": 5
                                  },
                                  "dollarpe_fee": {
                                    "type": "number",
                                    "format": "float",
                                    "example": 450
                                  },
                                  "pg_fee": {
                                    "type": "number",
                                    "format": "float",
                                    "example": 18
                                  },
                                  "client_gst_fiat": {
                                    "type": "number",
                                    "format": "float",
                                    "example": 81
                                  },
                                  "client_gst_crypto": {
                                    "type": "number",
                                    "format": "float",
                                    "example": 0.9
                                  },
                                  "dollarpe_gst": {
                                    "type": "number",
                                    "format": "float",
                                    "example": 81
                                  },
                                  "pg_gst": {
                                    "type": "number",
                                    "format": "float",
                                    "example": 81
                                  },
                                  "tds": {
                                    "type": "number",
                                    "format": "float",
                                    "example": 889.17
                                  },
                                  "gross_effective_exchange_rate": {
                                    "type": "number",
                                    "format": "float",
                                    "example": 88.92
                                  }
                                }
                              },
                              "exchange_order_id": {
                                "type": "string",
                                "example": "5059889123892"
                              },
                              "exchange_transfer_id": {
                                "type": "string",
                                "example": ""
                              },
                              "status": {
                                "type": "string",
                                "example": "SUCCESS"
                              },
                              "failure_reason": {
                                "type": "null",
                                "example": null
                              },
                              "utr": {
                                "type": "string",
                                "example": "RATN0329SJDH0"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2025-02-11T01:30:08.000Z"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2025-02-11T01:30:08.000Z"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "date_range": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "start_date and end_date must be used together"
                          ]
                        }
                      }
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "errors": {
                      "type": "string",
                      "example": "Unexpected error occurred. Please try again later."
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payout/update-transfer-id": {
      "patch": {
        "tags": [
          "Payout"
        ],
        "x-title": "Update transfer ID",
        "description": "Updates transfer ID for the order",
        "servers": [
          {
            "url": "https://sandbox.dollarpe.xyz/pos/api/v1",
            "description": "Payout API Base URL"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "exchange_order_id",
                  "exchange_transfer_id"
                ],
                "properties": {
                  "exchange_order_id": {
                    "type": "string",
                    "format": "uuid",
                    "example": "982738475838910"
                  },
                  "exchange_transfer_id": {
                    "type": "string",
                    "format": "uuid",
                    "example": "987283747899283945"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfer ID updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "exchange_order_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "982738475838910"
                        },
                        "exchange_transfer_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "987283747899283945"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "errors": {
                      "type": "string",
                      "example": "Unexpected error occurred. Please try again later."
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payout/mock-payout-status": {
      "patch": {
        "tags": [
          "Payout"
        ],
        "x-title": "Mock Payout Status",
        "description": "Mock Payout Status [Sandbox Environment Only]",
        "servers": [
          {
            "url": "https://sandbox.dollarpe.xyz/pos/api/v1",
            "description": "Payout API Base URL"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "payout_id",
                  "payout_status"
                ],
                "properties": {
                  "payout_id": {
                    "type": "string",
                    "format": "uuid",
                    "example": "4e6f1b20-a73c-11ec-b909-0242ac120002"
                  },
                  "payout_status": {
                    "type": "string",
                    "example": "SUCCESS"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payout Status updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "payout_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "4e6f1b20-a73c-11ec-b909-0242ac120002"
                        },
                        "payout_status": {
                          "type": "string",
                          "example": "SUCCESS"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "errors": {
                      "type": "string",
                      "example": "Unexpected error occurred. Please try again later."
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payin/configuration": {
      "get": {
        "tags": [
          "Payin"
        ],
        "x-title": "Configuration",
        "description": "Returns basic configuration for payin - supported fiats, supported assets, supported networks and live coin limits",
        "servers": [
          {
            "url": "https://sandbox.dollarpe.xyz/pis/api/v1",
            "description": "Payin API Base URL"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "supported_fiats": {
                          "type": "array",
                          "example": [
                            "inr"
                          ]
                        },
                        "supported_assets": {
                          "type": "array",
                          "example": [
                            "usdt",
                            "usdc"
                          ]
                        },
                        "coin_limits": {
                          "type": "object",
                          "properties": {
                            "{fiat}": {
                              "type": "object",
                              "properties": {
                                "{asset}": {
                                  "type": "object",
                                  "properties": {
                                    "bank_transfer": {
                                      "type": "object",
                                      "properties": {
                                        "min": {
                                          "type": "number",
                                          "format": "decimal",
                                          "example": 30
                                        },
                                        "max": {
                                          "type": "number",
                                          "format": "decimal",
                                          "example": 5850
                                        }
                                      }
                                    },
                                    "upi": {
                                      "type": "object",
                                      "properties": {
                                        "min": {
                                          "type": "number",
                                          "format": "decimal",
                                          "example": 30
                                        },
                                        "max": {
                                          "type": "number",
                                          "format": "decimal",
                                          "example": 5850
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "required_risk_parameters": {
                          "type": "array",
                          "example": [
                            "ip_address",
                            "device_id",
                            "suspicious_activity_report",
                            "law_enforcement_agency_report"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "data": {
                      "type": "null"
                    },
                    "errors": {
                      "type": "string",
                      "example": "Unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payin/fetch-rate": {
      "get": {
        "tags": [
          "Payin"
        ],
        "x-title": "Fetch Rate",
        "description": "Fetch exchange rate for a given asset",
        "servers": [
          {
            "url": "https://sandbox.dollarpe.xyz/pis/api/v1",
            "description": "Payin API Base URL"
          }
        ],
        "parameters": [
          {
            "name": "asset",
            "in": "path",
            "required": true,
            "description": "The crypto asset for which quotation is requested",
            "schema": {
              "type": "string",
              "example": "USDT"
            }
          },
          {
            "name": "fiat",
            "in": "path",
            "required": true,
            "description": "The fiat currency in which the quotation is requested",
            "schema": {
              "type": "string",
              "example": "INR"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "asset": {
                          "type": "string",
                          "example": "USDT"
                        },
                        "fiat": {
                          "type": "string",
                          "example": "INR"
                        },
                        "rate": {
                          "type": "number",
                          "format": "decimal",
                          "example": 87.2
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "data": {
                      "type": "null"
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "example": {
                        "asset": [
                          "This field is required."
                        ],
                        "amount": [
                          "This field is required."
                        ],
                        "network": [
                          "This field is required."
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "data": {
                      "type": "null"
                    },
                    "errors": {
                      "type": "string",
                      "example": "Unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payin/quotation": {
      "post": {
        "tags": [
          "Payin"
        ],
        "x-title": "Create Quotation",
        "description": "Create a quotation for cryptocurrency to fiat conversion",
        "servers": [
          {
            "url": "https://sandbox.dollarpe.xyz/pis/api/v1",
            "description": "Payin API Base URL"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "asset",
                  "fiat",
                  "sending_amount",
                  "customer_id",
                  "bank_id",
                  "payment_method",
                  "selfie_url",
                  "risk_parameters"
                ],
                "properties": {
                  "asset": {
                    "type": "string",
                    "description": "The cryptocurrency asset code",
                    "example": "usdt"
                  },
                  "fiat": {
                    "type": "string",
                    "description": "The fiat currency code",
                    "example": "inr"
                  },
                  "sending_amount": {
                    "type": "string",
                    "description": "The amount to be sent",
                    "example": "51"
                  },
                  "customer_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Customer's unique identifier",
                    "example": "def8b740-99f9-4cba-bc9e-99de57e927b4"
                  },
                  "bank_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Customer's Bank's unique identifier from which the payin will be made",
                    "example": "4e6f1b20-a73c-11ec-b909-0242ac120002"
                  },
                  "payment_method": {
                    "type": "string",
                    "example": "BANK_TRANSFER"
                  },
                  "selfie_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "risk_parameters": {
                    "type": "object",
                    "properties": {
                      "ip_address": {
                        "type": "string",
                        "example": "127.0.0.1"
                      },
                      "device_id": {
                        "type": "string"
                      },
                      "suspicious_activity_report": {
                        "type": "boolean",
                        "example": false
                      },
                      "law_enforcement_agency_report": {
                        "type": "boolean",
                        "example": false
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quotation created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "2e104290-07c8-49f1-a5ca-0d27f0078f8a"
                        },
                        "customer_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "def8b740-99f9-4cba-bc9e-99de57e927b4"
                        },
                        "bank_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "4e6f1b20-a73c-11ec-b909-0242ac120002"
                        },
                        "asset": {
                          "type": "string",
                          "example": "USDT"
                        },
                        "fiat": {
                          "type": "string",
                          "example": "INR"
                        },
                        "payment_method": {
                          "type": "string",
                          "example": "BANK_TRANSFER"
                        },
                        "selfie_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "sending_amount": {
                          "type": "number",
                          "format": "float",
                          "example": 1000
                        },
                        "rate": {
                          "type": "number",
                          "format": "float",
                          "example": 91.91
                        },
                        "receiving_amount": {
                          "type": "number",
                          "format": "float",
                          "example": 108.8
                        },
                        "fees": {
                          "type": "object",
                          "properties": {
                            "client_fee_fiat": {
                              "type": "number",
                              "format": "float",
                              "example": 450
                            },
                            "client_fee_crypto": {
                              "type": "number",
                              "format": "float",
                              "example": 5
                            },
                            "dollarpe_fee": {
                              "type": "number",
                              "format": "float",
                              "example": 450
                            },
                            "pg_fee": {
                              "type": "number",
                              "format": "float",
                              "example": 18
                            },
                            "client_gst_fiat": {
                              "type": "number",
                              "format": "float",
                              "example": 81
                            },
                            "client_gst_crypto": {
                              "type": "number",
                              "format": "float",
                              "example": 0.9
                            },
                            "dollarpe_gst": {
                              "type": "number",
                              "format": "float",
                              "example": 81
                            },
                            "pg_gst": {
                              "type": "number",
                              "format": "float",
                              "example": 81
                            },
                            "tds": {
                              "type": "number",
                              "format": "float",
                              "example": 889.17
                            },
                            "gross_effective_exchange_rate": {
                              "type": "number",
                              "format": "float",
                              "example": 88.92
                            }
                          }
                        },
                        "deposit_instructions": {
                          "type": "object",
                          "properties": {
                            "account_number": {
                              "type": "string",
                              "example": "1234567890"
                            },
                            "ifsc": {
                              "type": "string",
                              "example": "1234567890"
                            }
                          }
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-03-08T07:31:11.163005Z"
                        },
                        "expiry_time": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-03-08T07:36:11.163005Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "data": {
                      "type": "null"
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "example": {
                        "amount": [
                          "receiving_amount is required"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "data": {
                      "type": "null"
                    },
                    "errors": {
                      "type": "string",
                      "example": "Unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payin/quotation/{quotation_id}": {
      "get": {
        "tags": [
          "Payin"
        ],
        "x-title": "Fetch Quotation",
        "description": "Fetch details of a specific quotation",
        "servers": [
          {
            "url": "https://sandbox.dollarpe.xyz/pis/api/v1",
            "description": "Payin API Base URL"
          }
        ],
        "parameters": [
          {
            "name": "quotation_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the quotation",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "2e104290-07c8-49f1-a5ca-0d27f0078f8a"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quotation details fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "2e104290-07c8-49f1-a5ca-0d27f0078f8a"
                        },
                        "order_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "550e8400-e29b-41d4-a716-446655440000"
                        },
                        "customer_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "def8b740-99f9-4cba-bc9e-99de57e927b4"
                        },
                        "bank_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "4e6f1b20-a73c-11ec-b909-0242ac120002"
                        },
                        "status": {
                          "type": "string",
                          "example": "PROCESSING"
                        },
                        "asset": {
                          "type": "string",
                          "example": "USDT"
                        },
                        "fiat": {
                          "type": "string",
                          "example": "INR"
                        },
                        "payment_method": {
                          "type": "string",
                          "example": "BANK_TRANSFER"
                        },
                        "selfie_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "sending_amount": {
                          "type": "number",
                          "example": 10
                        },
                        "rate": {
                          "type": "number",
                          "example": 87.2
                        },
                        "receiving_amount": {
                          "type": "number",
                          "example": 846.19
                        },
                        "fees": {
                          "type": "object",
                          "properties": {
                            "client_fee_fiat": {
                              "type": "number",
                              "format": "float",
                              "example": 450
                            },
                            "client_fee_crypto": {
                              "type": "number",
                              "format": "float",
                              "example": 5
                            },
                            "dollarpe_fee": {
                              "type": "number",
                              "format": "float",
                              "example": 450
                            },
                            "pg_fee": {
                              "type": "number",
                              "format": "float",
                              "example": 18
                            },
                            "client_gst_fiat": {
                              "type": "number",
                              "format": "float",
                              "example": 81
                            },
                            "client_gst_crypto": {
                              "type": "number",
                              "format": "float",
                              "example": 0.9
                            },
                            "dollarpe_gst": {
                              "type": "number",
                              "format": "float",
                              "example": 81
                            },
                            "pg_gst": {
                              "type": "number",
                              "format": "float",
                              "example": 81
                            },
                            "tds": {
                              "type": "number",
                              "format": "float",
                              "example": 889.17
                            },
                            "gross_effective_exchange_rate": {
                              "type": "number",
                              "format": "float",
                              "example": 88.92
                            }
                          }
                        },
                        "deposit_instructions": {
                          "type": "object",
                          "properties": {
                            "account_number": {
                              "type": "string",
                              "example": "1234567890"
                            },
                            "ifsc": {
                              "type": "string",
                              "example": "1234567890"
                            }
                          }
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-03-04T15:54:20+00:00"
                        },
                        "expiry_time": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-03-04T15:59:20+00:00"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "quotation_id": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "quotation_id is invalid"
                          ]
                        }
                      }
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "errors": {
                      "type": "string",
                      "example": "Unexpected error occurred. Please try again later."
                    },
                    "data": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payin/initiate": {
      "post": {
        "tags": [
          "Payin"
        ],
        "x-title": "Create Payin",
        "description": "Create a new payin using a quotation",
        "servers": [
          {
            "url": "https://sandbox.dollarpe.xyz/pis/api/v1",
            "description": "Payin API Base URL"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "quotation_id",
                  "customer_id",
                  "utr"
                ],
                "properties": {
                  "quotation_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The unique identifier of the quotation",
                    "example": "2e104290-07c8-49f1-a5ca-0d27f0078f8a"
                  },
                  "customer_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The unique identifier of the customer",
                    "example": "def8b740-99f9-4cba-bc9e-99de57e927b4"
                  },
                  "client_reference_id": {
                    "type": "string",
                    "description": "Optional client reference ID for tracking",
                    "example": "testUser123"
                  },
                  "utr": {
                    "type": "string",
                    "description": "UTR of the bank transaction",
                    "example": "RATN0329SJDH0"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payin created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "5b75096f-de8d-44b4-9230-d94e6948abb6"
                        },
                        "quotation_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "2e104290-07c8-49f1-a5ca-0d27f0078f8a"
                        },
                        "customer_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "def8b740-99f9-4cba-bc9e-99de57e927b4"
                        },
                        "client_reference_id": {
                          "type": "string",
                          "example": "testUser123"
                        },
                        "bank_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "e75f62f0-db9e-4904-8103-d6f14f67f5dc"
                        },
                        "asset": {
                          "type": "string",
                          "example": "USDT"
                        },
                        "fiat": {
                          "type": "string",
                          "example": "INR"
                        },
                        "payment_method": {
                          "type": "string",
                          "example": "BANK_TRANSFER"
                        },
                        "selfie_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "rate": {
                          "type": "number",
                          "format": "float",
                          "example": 82.5
                        },
                        "sending_amount": {
                          "type": "number",
                          "format": "float",
                          "example": 51
                        },
                        "receiving_amount": {
                          "type": "number",
                          "format": "float",
                          "example": 4144.6
                        },
                        "fees": {
                          "type": "object",
                          "properties": {
                            "client_fee_fiat": {
                              "type": "number",
                              "format": "float",
                              "example": 450
                            },
                            "client_fee_crypto": {
                              "type": "number",
                              "format": "float",
                              "example": 5
                            },
                            "dollarpe_fee": {
                              "type": "number",
                              "format": "float",
                              "example": 450
                            },
                            "pg_fee": {
                              "type": "number",
                              "format": "float",
                              "example": 18
                            },
                            "client_gst_fiat": {
                              "type": "number",
                              "format": "float",
                              "example": 81
                            },
                            "client_gst_crypto": {
                              "type": "number",
                              "format": "float",
                              "example": 0.9
                            },
                            "dollarpe_gst": {
                              "type": "number",
                              "format": "float",
                              "example": 81
                            },
                            "pg_gst": {
                              "type": "number",
                              "format": "float",
                              "example": 81
                            },
                            "tds": {
                              "type": "number",
                              "format": "float",
                              "example": 889.17
                            },
[...]
